{
    "proxy": "http://127.0.0.1:7890",
	"image_base_url": "http://127.0.0.1:8000/",
    "accounts": [
    ],
    "models": [
        {
            "id": "gemini-enterprise2",
            "name": "Gemini Enterprise",
            "description": "Google Gemini Enterprise 模型",
            "context_length": 32768,
            "max_tokens": 8192,
            "price_per_1k_tokens": 0.0015
        }
    ]
}